@model IEnumerable<KiemTra_LuChiTam.Models.HocPhan>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>THÔNG TIN HOC PHAN</h2>

<table class="table">
    <tr>
        <th> Mã Học Phần </th>
        <th> Tên Học Phần</th>
        <th> Số tín chỉ </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.MaHP)</td>
            <td>@Html.DisplayFor(modelItem => item.TenHP)</td>
            <td>@Html.DisplayFor(modelItem => item.SoTinChi)</td>
            
            
        </tr>
    }
</table>

